@media (max-width: 876px) {
  .hero {
    padding: 100px;
  }

  .text-apaaja {
    width: 100%;
    margin-bottom: 30px;
  }

  .text-apaaja h2 {
    font-size: 23px;
    margin-right: -80px;
  }

  .about-me {
    padding: 40px 40px;
  }

  .about-me img {
    width: 200px;
  }

  .container p {
    padding: 10px;
  }

  .container {
    padding: 20px;
  }

  .school-img img {
    width: 650px;
  }

  .skill {
    padding: 40px 100px;
  }

  .skills-boxes {
    width: 100%;
  }

  .experience {
    padding: 40px 40px;
  }

  .expe-text p {
    font-size: 15px;
  }

  .contact {
    padding: 40px;
    display: flex;
    justify-content: space-between;
  }

  input,
  textarea {
    width: 110%;
  }

  .contact-info h2 {
    font-size: 30px;
  }

  .contact-info p {
    font-size: 25px;
  }
}

@media (max-width: 380px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2px;
    position: sticky;
    top: 0;
    background-color: var(--Primary-White);
    z-index: 1;
  }

  .hero {
    padding: 15px;
  }

  .hero-img {
    display: flex;
    position: absolute;
    right: 10px;
  }

  .hero-img img {
    width: 200px;
  }

  .text-apaaja {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    padding-bottom: 30px;
  }

  .text-apaaja h2 {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 300px;
  }

  .about-me {
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
  }

  .about-me img {
    width: 150px;
  }

  .container p {
    padding: 10px;
  }

  .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .school-img img {
    width: 332px;
  }

  .school-box h5 {
    font-size: 18px;
  }

  .school-box span {
    font-size: 13px;
    padding-left: 20px;
  }

  .skill {
    padding: 40px 20px;
    align-items: center;
  }

  .skills {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* padding: 10px 100px 10px 100px; */
  }

  .skill img {
    width: 80px;
  }

  .skills p {
    font-size: 12px;
  }

  .skills-boxes {
    width: 20%;
    /* align-items: center; */
    gap: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    max-width: 900px;
  }

  .experience {
    padding: 40px 40px;
  }

  .expe-text p {
    font-size: 15px;
  }

  .contact {
    padding: 40px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    gap: 20px;
  }

  input,
  textarea {
    width: 100%;
  }

  .contact-info {
    padding: 0;
  }

  .contact-info h2 {
    font-size: 30px;
  }

  .contact-info p {
    font-size: 25px;
  }
}
