* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  font-family: "Rubik", sans-serif;
  /* COLORS */
  --Primary-Black: #000000;
  --Primary-Neutral: #404040;
  --Primary-White: #ffffff;
  --Zinc-100: #007d8e;
  --Zinc-200: #00c1da;
  --Zinc-300: #d4d4d8;
  --Zinc-500: #3a3a3a;
  --Zinc-800: #00464f;
  --Error-500: #ef4444;
  /* TYPOGRAPHY */
  --Display-size: 48px;
  --Display-LH: 1.16;
  --Display-Track: -0.96px;
  --Display-Size-M: 24px;
  --Display-LH-M: 1.14;
  --Display-Track-M: -0.56px;
  --Sub-Heading-Size: 40px;
  --Sub-Heading-LH: 1.2;
  --Sub-Heading-Track: -0.8px;
  --Heading1-Size: 36px;
  --Heading1-LH: 1.22;
  --Heading1-Track: -0.72px;
  --Heading2-Size: 32px;
  --Heading2-LH: 1.25;
  --Heading2-Track: -0.64px;
  --Heading3-Size: 28px;
  --Heading3-LH: 1.14;
  --Heading3-Track: -0.56px;
  --Heading4-Size: 24px;
  --Heading4-LH: 1.16;
  --Heading4-Track: -0.48px;
  --Heading5-Size: 20px;
  --Heading5-LH: 1.2;
  --Heading5-Track: -0.4px;
  --Heading6-Size: 16px;
  --Heading6-LH: 1.25;
  --Heading6-Track: -0.32px;
  --P1-Size: 20px;
  --P1-LH: 1.4;
  --P1-Track: -0.4px;
  --P2-Size: 16px;
  --P2-LH: 1.5;
  --P2-Track: -0.32px;
  --P3-Size: 12px;
  --P3-LH: 1.66;
  --P3-Track: -0.24px;
  --Button1-Text-Size: 20px;
  --Button1-Text-LH: 1.2;
  --Button1-Text-Track: -0.4px;
  --Button2-Text-Size: 16px;
  --Button2-Text-LH: 1.25;
  --Button2-Text-Track: -0.32px;
  --Burger-Width: 36px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  background-color: var(--Primary-White);
  z-index: 1;
}

.brand {
  display: flex;
  align-items: center;  
  gap: 12px;
  color: var(--Primary-White);
}

.brand img {
  display: flex;
  padding-left: 8px;
}

.menu {
  display: none;
  color: transparent;
}

.menu-content {
  display: flex;
  gap: 20px;
  font-weight: 600;
}

.menu-content a {
  color: var(--Primary-Black);
}

.menu-content a:hover {
  color: var(--Zinc-100);
  transition: all 0.3s ease-in-out;
}

section {
  padding: 40px 16px;
}
.hero {
  display: flex;
  padding: 90px 200px;
  background-color: var(--Zinc-800);
  /* padding-top: 4%; */
  font-family: "Caveat", cursive;
}

.text-apaaja {
  position: relative;
  display: flex;
  padding: 30px;
  background-image: url(image/kertas3.jpeg);
  border-radius: 20px;
  width: 100%;
  height: fit-content;
}

.text-apaaja h2 {
  font-size: 30px;
  z-index: 0;
}
.hero-img {
  /* position: absolute; */
  /* right: -100px; */
  /* bottom: 0; */
  height: fit-content;
  width: 234.5px;
  display: flex;
  align-items: end;
  align-self: flex-end;
  margin-bottom: -30px;
}
.hero-img img {
  background-color: none;
  width: 100%;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Zinc-100);
  color: var(--Primary-White);
}

.about-me .container {
  display: flex;
  align-items: center;
  /* background-color: red; */
  /* padding: 30px 90px; */
}

.container {
  padding: 24px;
  border-radius: 30px;
  display: flex;
  gap: 24px;
  align-items: center;
  box-shadow: 0px 8px 16px -6px var(--Primary-Black);
  background-color: var(--Zinc-800);
  max-width: 900px;
}

.container p {
  padding: 40px;
  color: var(--Primary-White);
}

.about-me h1 {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  padding: 20px;
}

.about-me img {
  width: 300px;
  border-radius: 20px;
}

.about-text p {
  font-size: 20px;
}

.about-school h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.about-school {
  color: var(--Primary-White);
  background-color: var(--Zinc-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 30px; */
}

.school-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.school-img {
  /* padding: 20px 0px; */
}

.school-img img {
  width: 900px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.school-box {
  /* padding-bottom: 20px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px -6px var(--Primary-Black);
}

.school-box h5 {
  font-size: 45px;
  color: var(--Primary-White);
  padding-left: 20px;
  padding-top: 10px;
}

.school-box span {
  color: var(--Primary-White);
  padding-left: 23px;
}

.tk {
  background-color: #ff9100;
  padding-bottom: 20px;
  border-radius: 20px;
}

.sd {
  background-color: #006cc4;
  padding-bottom: 20px;
  border-radius: 20px;
}

.smp {
  background-color: #006c56;
  padding-bottom: 20px;
  border-radius: 20px;
}

.smk {
  background-color: #39a6ff;
  padding-bottom: 20px;
  border-radius: 20px;
}

.kuliah {
  background-color: #000000;
  padding-bottom: 20px;
  border-radius: 20px;
}

.skill {
  background-color: var(--Zinc-800);
  color: var(--Primary-White);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill h1 {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.skills-boxes {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 32px;
  align-items: center;
  border: 2px solid var(--Primary-White);
  border-radius: 20px;
  box-shadow: 0px 0px 25px var(--Primary-White);
  background-color: var(--Primary-Black);
  transition: all 0.3s ease-in-out;
}

.skills:hover {
  filter: invert(1);
}

.skill img {
  width: 200px;
  aspect-ratio: 1;
}

.skill p {
  font-size: var(--Heading5-Size);
  line-height: var(--Heading5-LH);
  letter-spacing: var(--Heading5-Track);
  font-weight: 700;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Zinc-100);
  color: var(--Primary-White);
}

.experience .expe-box {
  display: flex;
  align-items: center;
  /* background-color: red; */
  /* padding: 30px 90px; */
}

.expe-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.expe-box {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  /* padding-bottom: 20px; */
  /* gap: 24px; */
  align-items: center;
  box-shadow: 0px 8px 16px -6px var(--Primary-Black);
  background-color: var(--Zinc-800);
  max-width: 900px;
}

.expe-text {
  padding: 20px;
  color: var(--Primary-White);
}

.expe-title {
  padding-bottom: 13px;
  gap: 2px;
}

.experience h1 {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  padding: 20px;
}

.experience img {
  width: 200px;
  border-radius: 10px;
}

.project-img img {
  width: 400px;
  border-radius: 20px;
  border: 3px solid var(--Primary-White);
  box-shadow: 0px 0px 25px var(--Primary-White);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.my-projects {
  background-color: var(--Zinc-800);
  color: var(--Primary-White);
}

.my-projects h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  padding-bottom: 60px;
}

.project-detail h4 {
  color: var(--Primary-White);
  padding-top: 3px;
}

.project-detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.situs-project {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-between; */
}
.situs-project a {
  display: flex;
  gap: 5px;
}

.contact {
  background-color: var(--Zinc-100);
  color: var(--Primary-White);
  display: flex;
  /* gap: 150px; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 100px 130px;
}

form {
  /* padding: px 0; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 20%; */
}

input,
textarea {
  padding: 16px 10px;
  border-radius: 4px;
  border: 1.4px solid var(--Primary-Black);
  font-size: var(--Heading5-Size);
  line-height: var(--Heading6-LH);
  letter-spacing: var(--Heading6-Track);
  width: 200%;
}

input::placeholder,
textarea::placeholder {
  color: var(--Zinc-500);
}

textarea {
  min-height: 150px;
  resize: none;
}

.contact-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: space-between;
}

.contact-buttons button {
  padding: 12px 16px;
  border: 2px solid var(--Primary-White);
  border-radius: 4px;
  background-color: var(--Primary-Black);
  color: var(--Primary-White);
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: filter 0.3s ease-in-out;
}

.contact-buttons button:hover {
  filter: invert(1);
}

.button-box {
  display: flex;
  gap: 24px;
  align-items: center;
}

.button-box a {
  padding: 12px;
  border: 2px solid var(--Primary-White);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Primary-Black);
  color: var(--Primary-White);
}

.button-box a svg {
  width: 20px;
  height: 20px;
}

.button-box a:hover {
  background-color: var(--Primary-White);
  color: var(--Primary-Black);
  transition: all 0.3s ease-in-out;
}

.contact-info {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-info h2 {
  font-weight: 800;
  font-size: 40px;
}

.contact-info p {
  font-size: var(--P2-Size);
  line-height: var(--P2-LH);
  letter-spacing: var(--P2-Track);
  color: var(--Primary-White);
  font-size: 30px;
}

.info a {
  color: var(--Primary-Black);
  font-size: var(--Heading5-Size);
  line-height: var(--Heading5-LH);
  letter-spacing: var(--Heading5-Track);
  font-weight: 700;
}

.info a:hover,
.copy a:hover {
  text-decoration: underline;
}

footer {
  padding: 20px 16px;
  background-color: var(--Primary-White);
  color: var(--Primary-Black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand2 img {
  width: 220px;
}

footer .brand,
.copy a {
  color: inherit;
}

.copy {
  text-align: end;
}